.Container:hover{
    cursor: pointer;
}
.Container{
    transition: height 1s ease;
    position: relative;
    z-index: 9999
    
}
.Container P {
    font-family: Crushed-regular;
    font-size: 30px;
}
.Container:hover{
    background-color: blue;
}