.Navbar{
height: 70px;
background-color: #242426;
padding: 0 1rem;
border-bottom: 1px solid #47474d;
display: flex;
justify-content: flex-end;
padding-left: 20%;
padding-right: 20%;
border-bottom-left-radius:40px;
border-bottom-right-radius:40px;
box-shadow: 1px 24px 36px -11px rgba(0,0,0,0.54);
font-size: 20px;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 60%;
z-index: 1000;
margin-bottom: 3%;
}

.Navbarnav {

height: 100%;
display: flex;
margin-left: 50%;
margin-bottom: 2%;
}

.Navbar div{
justify-self: flex-start;
}